.game-setup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.save-game-button {
  margin-right: 20px;
}

.content-container {
  width: 100%;
  max-width: 800px;
}

.custom-card {
  margin-bottom: 20px;
}

.card-title {
  display: flex;
  align-items: center;
}

.trackers {
  display: flex;
  justify-content: space-between;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-question-button {
  margin-top: 20px;
}
