@import url('https://fonts.googleapis.com/css2?family=Metric:wght@400;700&display=swap');

body {
    background-color: #fff1e5;
    color: #000;
    font-family: 'Metric', sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.action-list {
    background-color: #ffffff;
    padding: 0; /* Remove padding to align with the title */
    width: 100%;
}

.question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 0
}

.question-divider {
    height: 1px;
    background-color: #e0e0e0;
    margin: 15px 0;
}

.question-paragraph {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    padding: 0;
}

.question-paragraph-textarea {
  width: 100%;
  border: 0px solid #ffffff;
  border-radius: 4px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #666;
}

.question-title-input {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.question-title {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.action {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    transition: box-shadow 0.3s ease;
}

.action:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.action-text {
    flex-grow: 1;
    margin-right: 15px;
}

.next-question, .add-action {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.next-question:hover, .add-action:hover {
    background-color: #45a049;
}

.next-question:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 18px;
        line-height: 22px;
    }

    .question-card {
        padding: 24px 20px;
        min-width: 580px;
    }

    .question {
        font-size: 20px;
        line-height: 24px;
    }
}
